* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F7;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    width: 100%;
}

h6 {
    color: #52c3d4 !important;
}

footer {
    min-width: 100%;
    overflow: hidden;
}

#error-page {
    min-width: 100%;
    background: transparent;
    box-shadow: none;
}

.site-content.page-header-disable {
    margin-top: 83px !important;
}

#loader-icon,
#btnSubmit,
.form_area,
.uploaded_dropdown {
    display: none;
}

.warn a {
    color: #25E473;
}

.warn,
.warn2 {
    display: block;
    width: 100%;
    height: 46px;
    padding: 10px;
    text-align: center;
    color: #edeff2;
    background: darksalmon;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px black;
}

.up_contaier {
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
}

.up_row {
    display: flex;
    justify-content: center;
    width: 100%;
}

.col_3 {
    max-width: 25%;
    min-width: 25%;
}

.col_6 {
    max-width: 49%;
    min-width: 49%;
    margin: 0% 1%;
}

span.existName {
    float: right;
    font-size: 14px;
    font-weight: 600;
    color: #ec5251;
}

.upload_section {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    transition: 1s;
}

.c_row {
    display: flex;
    justify-content: space-between;
}

.title {
    width: 60%;
}

.categories_select {
    width: 38%;
}

#form-control h6 {
    margin-bottom: 10px;
}

.txt_areas_ttl {
    margin-top: 10px;
    margin-bottom: 10px;
}

.file_desc {
    width: 100%;
    min-height: fit-content;
    overflow: hidden;
    resize: none;
    vertical-align: middle;
    padding: 10px 10px 30px;
    font-weight: 600;
    line-height: 25px;
    font-style: normal;
}
.uploaded p {
    margin: 0px;
}
input,
select,
textarea {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    font-style: normal;
    padding: 7px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    background: #fff;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: block;
    width: 100%;
    padding: 10px 12px;
}

.short_desc {
    font-size: 14px;
    font-weight: normal;
    color: #bfbfbf;
    margin-bottom: 2px;
    text-align: right;
    overflow: hidden;
    width: 100%;
}

.select_file {
    width: 100%;
    margin: 10px 0px;
}

.upload-btn-wrapper {
    overflow: hidden;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.upbtn,
.image_upload_btn {
    position: relative;
}

.upbtn,
.image_upload_btn,
.uppublishbtn {
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
}

.image_upload_btn {
    border-bottom: 1px solid #ababab;
    background: #f9f9f9;
    animation: colorAnim 3s infinite;
    margin-top: 12px;
    display: none;
    border-radius: 3px;
}

.image_upload_btn:hover {
    color: #76cbc4;
}

@keyframes colorAnim {
    0% {
        background: #ffced1;
    }

    50% {
        background: transparent;
    }

    100% {
        background: #ffced1;
    }
}

.uppublishbtn:hover,
.image_upload_btn:hover,
.upbtn:hover {
    background-color: #76cbc4;
    transition: 0.5s;
}

.upload-btn-wrapper input[type=file],
.image_upload_btn input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#loader-icon img {
    width: 100px;
}

#loader-icon {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
}

.progressbar {
    width: 0%;
    padding: 8px;
    background: #00c3d1;
}

.progress {
    background-color: transparent;
    height: fit-content;
    width: 100%;
    margin: 30px 0px;
    display: none;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.btnSubmit {
    background-color: #09f;
    border: 0;
    padding: 10px 40px;
    color: #FFF;
    border: #F0F0F0 1px solid;
    border-radius: 4px;
}

.up_warning,
.warns {
    width: 100%;
    background-color: bisque;
    color: #0c867c;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    transition: .7s;
    font-weight: 600;
    text-align: center;
    display: none;
}

.warns {
    display: block;
}

.file_catch {
    text-align: center;
    padding-bottom: 7px;
    display: none;
    overflow: hidden;
    width: 100%;
}

.icon_mark {
    text-align: left;
    padding-bottom: 7px;
    display: none;
    width: 100%;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    line-height: 3;
}

.icon_mark img {
    margin-right: 10px !important;
}

span.file_path {
    height: 50px;
    display: inline-block;
    line-height: 3;
    float: left;
    margin-left: 10px;
}

.file_catch img,
.icon_mark img {
    width: 50px;
    margin: 0 auto;
    float: left;
}


#targetLayer {
    width: 100%;
    text-align: left;
}

.uploaded {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.project_top {
    margin-bottom: 10px;
    width: 100%;
}

.project_titles {
    color: #454545;
    display: inline-block;
}

.project_menu {
    float: right;
    color: black;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.7s;
}

.project_menu:hover {
    border-radius: 50%;
    transform: rotate(360deg);
}

.uploaded_dropdown {
    top: 45px;
    right: 0;
    width: 100px;
    background: #00c3d1;
    padding: 3px;
    border-radius: 5px 0px 0px;
    position: absolute;
    text-align: right;
    transition: 0.2s;
}

.uploaded_item {
    color: #fff;
    cursor: pointer;
}

.file_info {
    width: 100%;
    float: left;
    margin-top: 10px;
}

.file_info table {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #F4F4F7;
}

.file_info table thead {
    background: #504b5f;
    color: #cacaca;
}

table,
th,
td {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-transform: uppercase;
}

td.pname {
    text-transform: capitalize;
}

button.download_file {
    padding: 10px 26px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #00c3d1;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 5px;
    opacity: 0.7;
    transition: .5s;
}

button.download_file:hover {
    opacity: 1;
    background-color: #00c3d1;
}

button.show-loadmore {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px !important;
    cursor: pointer;
    opacity: 0.8;
    background: #00c3d1;
    display: inline-block;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 8px;
    font-weight: bold;
    text-shadow: none;
    color: #fff !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Left sidebar */
.user,
.alimentor_areas {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}

.user a {
    width: 100%;
    display: block;
    color: #454545;
}

.profile_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px;
    float: left;
    display: inline-block;
    background-color: #ddd;
}

.user_wrapp {
    margin: 6px;
    float: left;
}

.thead {
    font-weight: bold;
}


.user_wrapp span {
    display: block;
    color: #00c3d1;
    transition: .1s;
}

.user_wrapp a:hover span {
    color: #ec5251 !important;
}

.alimentor_areas a {
    padding: 10px;
    display: block;
    color: #00c3d1;
    text-decoration: none;
    opacity: .7;
}

.alimentor_areas a:hover {
    opacity: 1;
}

@media (max-width:1200px) {
    .up_contaier {
        max-width: 100%;
        min-width: 100%;
    }
}

@media (max-width:768px) {
    .up_row {
        display: flex;
        flex-flow: wrap column;
        padding: 0% 1%;
    }

    .col_6 {
        max-width: 100%;
        min-width: 100%;
        margin: 0;
        order: 1;
    }

    .col_3 {
        max-width: 100%;
        min-width: 100%;
    }

    .rightwidget {
        order: 2;
    }

    .leftwidget {
        order: 3;
        margin-top: 10px;
    }
}